@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 21 95% 51%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 21 95% 51%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14%;
    --input: 240 3.7% 15.9%;
    --ring: var(--primary);
    --floating-label-body-outline: #363636;
    --floating-label-body-outline-active: #e1e1e1;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--accent)) hsl(var(--border));
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--border));
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--accent));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--accent) / 0.8);
}
